<option value="1">Administración Nacional de Electricidad</option>
<option value="2">Administración Nacional de Navegación y Puertos</option>
<option value="3">Agencia Financiera de Desarrollo</option>
<option value="4">Agencia Nac. de Eval. y Acreditación de la Educación Sup.</option>
<option value="5">Agencia Nacional de Transito y Seguridad Vial</option>
<option value="6">Auditoria del Poder Ejecutivo / Presidencia de la República / PODER EJECUTIVO</option>
<option value="7">Banco Central del Paraguay</option>
<option value="8">Banco Nacional de Fomento</option>
<option value="9">Caja de Jubilaciones y Pensiones de Empl. de Bancos y Afines</option>
<option value="10">Caja de Jubilaciones y Pensiones del Personal de la Ande</option>
<option value="11">Caja de Jubilaciones y Pensiones del Personal Municipal</option>
<option value="12">Caja de Préstamos del Ministerio de Defensa Nacional</option>
<option value="13">Caja de Seguridad Social de Empleados y Obreros Ferroviarios</option>
<option value="14">Cámara de Diputados</option>
<option value="15">Cámara de Senadores</option>
<option value="16">Cañas Paraguayas S.A.</option>
<option value="17">Centro Cultural de la Republica - El Cabildo / Congreso Nacional / PODER LEGISLATIVO</option>
<option value="18">Colegio Experimental Paraguay - Brasil / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="19">Comisión Nac. de Prevención contra la Tortura y Otros Tratos</option>
<option value="20">Comisión Nacional de Telecomunicaciones</option>
<option value="21">Comisión Nacional de Valores</option>
<option value="22">Compañía Paraguaya de Comunicaciones</option>
<option value="23">Congreso Nacional</option>
<option value="24">Consejo de la Magistratura</option>
<option value="25">Consejo Nacional de Ciencia y Tecnología / Presidencia de la República / PODER EJECUTIVO</option>
<option value="26">Contraloría General de la República</option>
<option value="27">Corte Suprema de Justicia</option>
<option value="28">Crédito Agrícola de Habilitación</option>
<option value="29">Defensoría del Pueblo</option>
<option value="30">Defensoria Publica</option>
<option value="31">Dirección  de Beneficencia y Ayuda Social</option>
<option value="32">Dirección General de Estadisticas Encuestas y Censo / Presidencia de la República / PODER EJECUTIVO</option>
<option value="33">Direccion General de Informacion Estrategica de Salud Digies-Sinais / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="34">Direccion General de Migraciones / Ministerio del Interior / PODER EJECUTIVO</option>
<option value="35">Direccion General de Salud Ambiental / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="36">Direccion Nacional de Aduanas</option>
<option value="37">Dirección Nacional de Aeronaútica Civil</option>
<option value="38">Dirección Nacional de Contrataciones Públicas</option>
<option value="39">Dirección Nacional de Correos del Paraguay</option>
<option value="40">Direccion Nacional de Propiedad Intelectual</option>
<option value="41">Direccion Nacional de Transporte</option>
<option value="42">Empresa de Servicios Sanitarios del Paraguay</option>
<option value="43">Ente Regulador de Servicios Sanitarios</option>
<option value="44">Facultad de Arquitectura / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="45">Facultad de Ciencias Agrarias / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="46">Facultad de Ciencias Economicas / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="47">Facultad de Ciencias Exactas y Naturales / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="48">Facultad de Ciencias Medicas / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="49">Facultad de Ciencias Quimicas / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="50">Facultad de Ciencias Veterinarias / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="51">Facultad de Derecho y Ciencias Sociales / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="52">Facultad de Filosofia / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="53">Facultad de Ingenieria / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="54">Facultad de Odontologia / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="55">Facultad Politecnica / Universidad Nacional de Asunción / UNIVERSIDADES NACIONALES</option>
<option value="56">Fondo Ganadero</option>
<option value="57">Fondo Nacional de la Cultura y las Artes</option>
<option value="58">Gobierno Departamental de Alto Paraguay</option>
<option value="59">Gobierno Departamental de Alto Paraná</option>
<option value="60">Gobierno Departamental de Amambay</option>
<option value="61">Gobierno Departamental de Boquerón</option>
<option value="62">Gobierno Departamental de Caaguazú</option>
<option value="63">Gobierno Departamental de Caazapá</option>
<option value="64">Gobierno Departamental de Canindeyú</option>
<option value="65">Gobierno Departamental de Central</option>
<option value="66">Gobierno Departamental de Concepción</option>
<option value="67">Gobierno Departamental de Cordillera</option>
<option value="68">Gobierno Departamental de Guairá</option>
<option value="69">Gobierno Departamental de Itapua</option>
<option value="70">Gobierno Departamental de Misiones</option>
<option value="71">Gobierno Departamental de Ñeembucú</option>
<option value="72">Gobierno Departamental de Paraguarí</option>
<option value="73">Gobierno Departamental de Presidente Hayes</option>
<option value="74">Gobierno Departamental de San Pedro</option>
<option value="75">Hospital General Barrio Obrero / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="76">Hospital General Pediatrico Niños de Acosta Ñu / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="77">Hospital Nacional - Centro Medico Nacional / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="78">Industria Nacional del Cemento</option>
<option value="79">Instituto de Previsión Social</option>
<option value="80">Instituto Forestal Nacional</option>
<option value="81">Instituto Nacional de Cooperativismo</option>
<option value="82">Instituto Nacional de Desarrollo Rural y de la Tierra</option>
<option value="83">Instituto Nacional del Cancer / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="84">Instituto Nacional de Tecnología, Normalización y Metrologia</option>
<option value="85">Instituto Paraguayo de Artesania</option>
<option value="86">Instituto Paraguayo del Indígena</option>
<option value="87">Instituto Paraguayo de Tecnologia Agraria</option>
<option value="88">Jurado de Enjuiciamiento de Magistrados</option>
<option value="89">Justicia Electoral</option>
<option value="90">Loma Plata</option>
<option value="91">Ministerio de Agricultura y Ganadería</option>
<option value="92">Ministerio de Defensa Nacional</option>
<option value="93">Ministerio de Educación y Cultura</option>
<option value="94">Ministerio de Hacienda</option>
<option value="95">Ministerio de Industria y Comercio</option>
<option value="96">Ministerio de Justicia</option>
<option value="97">Ministerio de la Mujer</option>
<option value="98">Ministerio del Interior</option>
<option value="99">Ministerio de Obras Públicas y Comunicaciones</option>
<option value="100">Ministerio de Relaciones Exteriores</option>
<option value="101">Ministerio de Salud Pública y Bienestar Social</option>
<option value="102">Ministerio de Trabajo, Empleo y Seguridad Social</option>
<option value="103">Ministerio Público</option>
<option value="104">Municipalidad de 3 de Febrero</option>
<option value="105">Municipalidad de 3 de Mayo</option>
<option value="106">Municipalidad de Acahay</option>
<option value="107">Municipalidad de Altos</option>
<option value="108">Municipalidad de Alto Verá</option>
<option value="109">Municipalidad de Antequera</option>
<option value="110">Municipalidad de Aregua</option>
<option value="111">Municipalidad de Arroyos y Esteros</option>
<option value="112">Municipalidad de Asunción</option>
<option value="113">Municipalidad de Atyra</option>
<option value="114">Municipalidad de Avaí</option>
<option value="115">Municipalidad de Ayolas</option>
<option value="116">Municipalidad de Bahia Negra</option>
<option value="117">Municipalidad de Belén</option>
<option value="118">Municipalidad de Bella Vista - Amambay</option>
<option value="119">Municipalidad de Bella Vista - Itapúa</option>
<option value="120">Municipalidad de Benjamín Aceval</option>
<option value="121">Municipalidad de Borja</option>
<option value="122">Municipalidad de Buena Vista</option>
<option value="123">Municipalidad de Caacupé</option>
<option value="124">Municipalidad de Caaguazú</option>
<option value="125">Municipalidad de Caapucú</option>
<option value="126">Municipalidad de Caazapá</option>
<option value="127">Municipalidad de Cambyretá</option>
<option value="128">Municipalidad de Capiatá</option>
<option value="129">Municipalidad de Capiibary</option>
<option value="130">Municipalidad de Capitán Meza</option>
<option value="131">Municipalidad de Capitán Miranda</option>
<option value="132">Municipalidad de Caraguatay</option>
<option value="133">Municipalidad de Carapeguá</option>
<option value="134">Municipalidad de Carayaó</option>
<option value="135">Municipalidad de Cárlos Antonio López</option>
<option value="136">Municipalidad de Carmelo Peralta</option>
<option value="137">Municipalidad de Carmen del Paraná</option>
<option value="138">Municipalidad de Cerrito</option>
<option value="139">Municipalidad de Choré</option>
<option value="140">Municipalidad de Ciudad del Este</option>
<option value="141">Municipalidad de Concepción</option>
<option value="142">Municipalidad de Coronel Bogado</option>
<option value="143">Municipalidad de Coronel Martínez</option>
<option value="144">Municipalidad de Coronel Oviedo</option>
<option value="145">Municipalidad de Corpus Christi</option>
<option value="146">Municipalidad de Desmochados</option>
<option value="147">Municipalidad de Domingo Martínez de Irala</option>
<option value="148">Municipalidad de Dr. Bottrell</option>
<option value="149">Municipalidad de Dr. Raul Peña</option>
<option value="150">Municipalidad de Edelira</option>
<option value="151">Municipalidad de Emboscada</option>
<option value="152">Municipalidad de Encarnación</option>
<option value="153">Municipalidad de Escobar</option>
<option value="154">Municipalidad de Eusebio Ayala</option>
<option value="155">Municipalidad de Félix Pérez Cardozo</option>
<option value="156">Municipalidad de Fernando de la Mora</option>
<option value="157">Municipalidad de Filadelfia</option>
<option value="158">Municipalidad de Fram</option>
<option value="159">Municipalidad de Fuerte Olimpo</option>
<option value="160">Municipalidad de Fulgencio Yegros</option>
<option value="161">Municipalidad de General Artigas</option>
<option value="162">Municipalidad de General Delgado</option>
<option value="163">Municipalidad de Gral. Bernardino Caballero</option>
<option value="164">Municipalidad de Gral. Elizardo Aquino</option>
<option value="165">Municipalidad de Gral. Eugenio A. Garay</option>
<option value="166">Municipalidad de Gral. Francisco Caballero Alvarez</option>
<option value="167">Municipalidad de Gral. Francisco I. Resquin</option>
<option value="168">Municipalidad de Gral. Higinio Morínigo</option>
<option value="169">Municipalidad de Gral. José Eduvigis Díaz</option>
<option value="170">Municipalidad de Gral Jose M. Bruguez</option>
<option value="171">Municipalidad de Guajayvi</option>
<option value="172">Municipalidad de Guarambaré</option>
<option value="173">Municipalidad de Guazu Cuá</option>
<option value="174">Municipalidad de Hernandarias</option>
<option value="175">Municipalidad de Hohenau</option>
<option value="176">Municipalidad de Humaitá</option>
<option value="177">Municipalidad de Independencia</option>
<option value="178">Municipalidad de Iruña</option>
<option value="179">Municipalidad de Isla Pucú</option>
<option value="180">Municipalidad de Isla Umbú</option>
<option value="181">Municipalidad de Itá</option>
<option value="182">Municipalidad de Itacurubí de las Cordilleras</option>
<option value="183">Municipalidad de Itacurubí del Rosario</option>
<option value="184">Municipalidad de Itakyry</option>
<option value="185">Municipalidad de Itanará</option>
<option value="186">Municipalidad de Itapé</option>
<option value="187">Municipalidad de Itapúa Poty</option>
<option value="188">Municipalidad de Itaugua</option>
<option value="189">Municipalidad de Iturbe</option>
<option value="190">Municipalidad de J. Augusto Saldivar</option>
<option value="191">Municipalidad de Jesús</option>
<option value="192">Municipalidad de J. Eulogio Estigarribia</option>
<option value="193">Municipalidad de José Domingo Ocampos</option>
<option value="194">Municipalidad de José Falcón</option>
<option value="195">Municipalidad de José Leandro Oviedo</option>
<option value="196">Municipalidad de Juan de Mena</option>
<option value="197">Municipalidad de Juan E. O'Leary</option>
<option value="198">Municipalidad de Juan León Mallorquín</option>
<option value="199">Municipalidad de Juan Manuel Frutos</option>
<option value="200">Municipalidad de Katuete</option>
<option value="201">Municipalidad de la Colmena</option>
<option value="202">Municipalidad de Lambaré</option>
<option value="203">Municipalidad de la Paloma del Espiritu Santo</option>
<option value="204">Municipalidad de la Paz</option>
<option value="205">Municipalidad de Liberacion</option>
<option value="206">Municipalidad de Lima</option>
<option value="207">Municipalidad de Limpio</option>
<option value="208">Municipalidad de Loma Grande</option>
<option value="209">Municipalidad de Loreto</option>
<option value="210">Municipalidad de los Cedrales</option>
<option value="211">Municipalidad de Luque</option>
<option value="212">Municipalidad de Maciel</option>
<option value="213">Municipalidad de Mariano Roque Alonso</option>
<option value="214">Municipalidad de Mayor José D. Martinez</option>
<option value="215">Municipalidad de Mayor Otaño</option>
<option value="216">Municipalidad de Mbaracayú</option>
<option value="217">Municipalidad de Mbocayaty del Guairá</option>
<option value="218">Municipalidad de Mbocayaty del Yhaguy</option>
<option value="219">Municipalidad de Mbuyapey</option>
<option value="220">Municipalidad de Mcal. Francisco Solano López</option>
<option value="221">Municipalidad de Mcal Jose F. Estigarribia</option>
<option value="222">Municipalidad de Minga Guazú</option>
<option value="223">Municipalidad de Minga Porá</option>
<option value="224">Municipalidad de Ñacunday</option>
<option value="225">Municipalidad de Naranjal</option>
<option value="226">Municipalidad de Natalio</option>
<option value="227">Municipalidad de Ñemby</option>
<option value="228">Municipalidad de Nueva Alborada</option>
<option value="229">Municipalidad de Nueva Colombia</option>
<option value="230">Municipalidad de Nueva Esperanza</option>
<option value="231">Municipalidad de Nueva Germania</option>
<option value="232">Municipalidad de Nueva Italia</option>
<option value="233">Municipalidad de Ñumi</option>
<option value="234">Municipalidad de Obligado</option>
<option value="235">Municipalidad de Paraguarí</option>
<option value="236">Municipalidad de Paso Barreto</option>
<option value="237">Municipalidad de Paso de Patria</option>
<option value="238">Municipalidad de Paso Yobai</option>
<option value="239">Municipalidad de Pedro Juan Caballero</option>
<option value="240">Municipalidad de Pilar</option>
<option value="241">Municipalidad de Pirapó</option>
<option value="242">Municipalidad de Pirayú</option>
<option value="243">Municipalidad de Piribebuy</option>
<option value="244">Municipalidad de Presidente Franco</option>
<option value="245">Municipalidad de Primero de Marzo</option>
<option value="246">Municipalidad de Puerto Pinasco</option>
<option value="247">Municipalidad de Quiindy</option>
<option value="248">Municipalidad de Quyquyho</option>
<option value="249">Municipalidad de Raúl Arsenio Oviedo</option>
<option value="250">Municipalidad de Repatriación</option>
<option value="251">Municipalidad de R.I. 3 Corrales</option>
<option value="252">Municipalidad de Salto del Guairá</option>
<option value="253">Municipalidad de San Alberto</option>
<option value="254">Municipalidad de San Antonio</option>
<option value="255">Municipalidad de San Bernardino</option>
<option value="256">Municipalidad de San Cosme y Damián</option>
<option value="257">Municipalidad de San Cristobal</option>
<option value="258">Municipalidad de San Estanislao</option>
<option value="259">Municipalidad de San Ignacio</option>
<option value="260">Municipalidad de San Joaquín</option>
<option value="261">Municipalidad de San José de los Arroyos</option>
<option value="262">Municipalidad de San Juan Bautista</option>
<option value="263">Municipalidad de San Juan Bautista Ñeembucu</option>
<option value="264">Municipalidad de San Juan del Paraná</option>
<option value="265">Municipalidad de San Juan Nepomuceno</option>
<option value="266">Municipalidad de San Lázaro</option>
<option value="267">Municipalidad de San Lorenzo</option>
<option value="268">Municipalidad de San Miguel</option>
<option value="269">Municipalidad de San Pablo</option>
<option value="270">Municipalidad de San Pedro del Paraná</option>
<option value="271">Municipalidad de San Pedro del Ycuamandiyú</option>
<option value="272">Municipalidad de San Rafael del Paraná</option>
<option value="273">Municipalidad de San Salvador</option>
<option value="274">Municipalidad de Santa Elena</option>
<option value="275">Municipalidad de Santa Fé del Paraná</option>
<option value="276">Municipalidad de Santa María</option>
<option value="277">Municipalidad de Santa Rita</option>
<option value="278">Municipalidad de Santa Rosa del Aguaray</option>
<option value="279">Municipalidad de Santa Rosa del Mbutuy</option>
<option value="280">Municipalidad de Santa Rosa del Monday</option>
<option value="281">Municipalidad de Santa Rosa Misiones</option>
<option value="282">Municipalidad de Santiago</option>
<option value="283">Municipalidad de Sapucai</option>
<option value="284">Municipalidad de Simón Bolivar</option>
<option value="285">Municipalidad de Tacuaras</option>
<option value="286">Municipalidad de Tavaí</option>
<option value="287">Municipalidad de Tavapy</option>
<option value="288">Municipalidad de Tebicuary</option>
<option value="289">Municipalidad de Tebicuarymi</option>
<option value="290">Municipalidad de Tembiapora</option>
<option value="291">Municipalidad de Tobatí</option>
<option value="292">Municipalidad de Tomás Romero Pereira</option>
<option value="293">Municipalidad de Trinidad</option>
<option value="294">Municipalidad de Tte Esteban Martinez</option>
<option value="295">Municipalidad de Unión</option>
<option value="296">Municipalidad de Valenzuela</option>
<option value="297">Municipalidad de Vaquería</option>
<option value="298">Municipalidad de Villa Curuguaty</option>
<option value="299">Municipalidad de Villa del Rosario</option>
<option value="300">Municipalidad de Villa Elisa</option>
<option value="301">Municipalidad de Villa Florida</option>
<option value="302">Municipalidad de Villa Hayes</option>
<option value="303">Municipalidad de Villalbín</option>
<option value="304">Municipalidad de Villa Oliva</option>
<option value="305">Municipalidad de Villarrica</option>
<option value="306">Municipalidad de Villa Ygatimí</option>
<option value="307">Municipalidad de Villeta</option>
<option value="308">Municipalidad de Yaguaron</option>
<option value="309">Municipalidad de Yasy Cañy</option>
<option value="310">Municipalidad de Yataity del Norte</option>
<option value="311">Municipalidad de Yatytay</option>
<option value="312">Municipalidad de Ybycui</option>
<option value="313">Municipalidad de Ybyrarobana</option>
<option value="314">Municipalidad de Ybytimi</option>
<option value="315">Municipalidad de Yby Yaú</option>
<option value="316">Municipalidad de Yguazú</option>
<option value="317">Municipalidad de Yhú</option>
<option value="318">Municipalidad de Ypacarai</option>
<option value="319">Municipalidad de Ypané</option>
<option value="320">Municipalidad de Ypejhu</option>
<option value="321">Municipalidad de Yrybucuá</option>
<option value="322">Municipalidad de Yuty</option>
<option value="323">Municipalidad de Zanja Pyta</option>
<option value="324">Petróleos Paraguayos</option>
<option value="325">Policia Nacional / Ministerio del Interior / PODER EJECUTIVO</option>
<option value="326">Presidencia de la República</option>
<option value="327">Procuraduria General de la Republica / Presidencia de la República / PODER EJECUTIVO</option>
<option value="328">Programa Ampliado de Inmunizaciones  / Ministerio de Salud Pública y Bienestar Social / PODER EJECUTIVO</option>
<option value="329">Secretaria de Accion Social / Presidencia de la República / PODER EJECUTIVO</option>
<option value="330">Secretaria de Defensa del Consumidor y el Usuario</option>
<option value="331">Secretaria de Emergencia Nacional / Presidencia de la República / PODER EJECUTIVO</option>
<option value="332">Secretaria de Información y Comunicación para el Desarrollo / Presidencia de la República / PODER EJECUTIVO</option>
<option value="333">Secretaria de la Funcion Publica / Presidencia de la República / PODER EJECUTIVO</option>
<option value="334">Secretaría del Ambiente</option>
<option value="335">Secretaria de Prevención de Lavado de Dinero / Presidencia de la República / PODER EJECUTIVO</option>
<option value="336">Secretaría de Transporte Área Metropolitana de Asuncion</option>
<option value="337">Secretaria Nacional Anticorrupcion / Presidencia de la República / PODER EJECUTIVO</option>
<option value="338">Secretaria Nacional de Cultura / Presidencia de la República / PODER EJECUTIVO</option>
<option value="339">Secretaria Nacional de la Juventud  / Presidencia de la República / PODER EJECUTIVO</option>
<option value="340">Secretaria Nacional de la Niñez y la Adolescencia / Presidencia de la República / PODER EJECUTIVO</option>
<option value="341">Secretaria Nacional de la Vivienda y el Habitat</option>
<option value="342">Secretaria Nacional de Tecnologias de la Informacion y Comunicacion  / Presidencia de la República / PODER EJECUTIVO</option>
<option value="343">Secretaria Nacional de Turismo / Presidencia de la República / PODER EJECUTIVO</option>
<option value="344">Secretaria Nacional por los Derechos Humanos de las Personas con Discapacidad / Presidencia de la República / PODER EJECUTIVO</option>
<option value="345">Secretaria Tecnica de Planificacion / Presidencia de la República / PODER EJECUTIVO</option>
<option value="346">Servicio Nacional Antidrogas / Presidencia de la República / PODER EJECUTIVO</option>
<option value="347">Servicio Nacional de Calidad y Salud Animal</option>
<option value="348">Servicio Nacional de Calidad y Sanidad Vegetal y de Semillas</option>
<option value="349">Servicio Nacional de Promocion Profesional  / Ministerio de Trabajo, Empleo y Seguridad Social / PODER EJECUTIVO</option>
<option value="350">Sistema Nacional de Formación y Capacitación Laboral / Ministerio de Trabajo, Empleo y Seguridad Social / PODER EJECUTIVO</option>
<option value="351">Subsecretaria de Estado de Tributación / Ministerio de Hacienda / PODER EJECUTIVO</option>
<option value="352">Tte Irala Fernandez</option>
<option value="353">Universidad Nacional de Asunción</option>
<option value="354">Universidad Nacional de Caaguazu</option>
<option value="355">Universidad Nacional de Canindeyu</option>
<option value="356">Universidad Nacional de Concepción</option>
<option value="357">Universidad Nacional de Itapúa</option>
<option value="358">Universidad Nacional del Este</option>
<option value="359">Universidad Nacional de Pilar</option>
<option value="360">Universidad Nacional de Villarrica del Espiritu Santo</option>
<option value="361">Vicepresidencia de la República</option>
