<html>
    <head>
        <title>Datos abiertos - DNCP</title>
        <!--<link type="image/ico" rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/bariol/bariol.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    </head>
    <body>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="id_contrato">Identificador de Contrato:</label>
                    <input type="text" class="form-control" id="id_contrato" placeholder="Ingrese aquí un patrón de búsqueda">
                </div>
            </div>
            <div class="col-xs-2">
                <label for="categoria">Categoría del Contrato:</label>
                <select class="form-control" name="categoria" id="categoria">
                    <option value="">-- Seleccione un valor --</option>
                    <option value="0">Adquisición y Locación de inmuebles. Alquiler de muebles</option>
                    <option value="1">Bienes e insumos agropecuario y forestal</option>
                    <option value="2">Capacitaciones y Adiestramientos</option>
                    <option value="3">Combustibles y Lubricantes</option>
                    <option value="4">Construcción, Restauración, Reconstrucción o Remodelación y Reparación de Inmuebles</option>
                    <option value="5">Consultorías, Asesorías e Investigaciones. Estudios y Proyectos de inversión</option>
                    <option value="6">Elementos e insumos de limpieza</option>
                    <option value="7">Equipos Militares y de Seguridad. Servicio de Seguridad y Vigilancia</option>
                    <option value="8">Equipos, accesorios y programas computacionales, de oficina, educativos, de imprenta, de comunicación y señalamiento</option>
                    <option value="9">Equipos, Productos e instrumentales Médicos y de Laboratorio. Servicios asistenciales de salud</option>
                    <option value="10">Maquinarias, Equipos y herramientas mayores - Equipos de transporte</option>
                    <option value="11">Materiales e insumos eléctricos, metálicos y no metálicos, Plásticos, cauchos. Repuestos, herramientas, cámaras y cubiertas.</option>
                    <option value="12">Minerales</option>
                    <option value="13">Muebles y Enseres</option>
                    <option value="14">Pasajes y Transportes</option>
                    <option value="15">Productos Alimenticios</option>
                    <option value="16">Productos quimicos</option>
                    <option value="17">Publicidad y Propaganda</option>
                    <option value="18">Seguros</option>
                    <option value="19">Servicios de ceremonial, gastronomico y funerarios</option>
                    <option value="20">Servicios de Limpiezas, Mantenimientos y reparaciones menores y mayores de Instalaciones, Maquinarias y Vehículos</option>
                    <option value="21">Servicios Técnicos</option>
                    <option value="22">Textiles, vestuarios y calzados</option>
                    <option value="23">Utensilios de cocina y comedor, Productos de Porcelana, vidrio y loza</option>
                    <option value="24">Utiles de oficina, Productos de papel y cartón e impresos</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="anio">Año de la modificación:</label>
                <select class="form-control" name="anio" id="anio">
                    <option value="">-- Seleccione un valor --</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="agrupar_por">Agrupar modificaciones por:</label>
                <select class="form-control" name="agrupar_por" id="agrupar_por">
                    <option value="">-- Seleccione un valor --</option>
                    <option value="categoria">Categoria</option>
                    <option value="mes">Mes</option>
                    <option value="monto">Monto</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="tamanio_circulo">Tamaño de modificaciones por:</label>
                <select class="form-control" name="tamanio_circulo" id="tamanio_circulo">
                    <option value="">-- Seleccione un valor --</option>
                    <option value="monto">Monto</option>
                    <option value="vigencia_dias">Plazo en dias</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-2">
                <label for="color">Colorear modificaciones por:</label>
                <select class="form-control" name="color" id="color">
                    <option value="">-- Seleccione un valor --</option>
                    <option value="_moneda">Moneda</option>
                    <option value="_tipo">Tipo de Modificacion</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label>Colores:</label>
                <div class="row">
                    <div class="colors" style="height:34px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="chart1" class="col-xs-12"> </div>
            <div id="chart2" class="col-xs-12"> </div>
            <div id="chart4" class="col-xs-12"> </div>
            <div id="chart3" class="col-xs-12"> </div>
        </div>
    <!--    <script language="JavaScript">
            var keys;
            d3.csv("http://servidor/states.csv", function (csv) {
                keys = csv;
                start();
            });
            function onSelect(d) {
                alert(d.State);
            }
            function start() {
                var mc = autocomplete(document.getElementById('test'))
                        .keys(keys)
                        .dataField("State")
                        .placeHolder("Search States - Start typing here")
                        .width(960)
                        .height(500)
                        .onSelected(onSelect)
                        .render();
            }
        </script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/graficos.js') }}"></script>
    </body>
</html>
