.dolar{
    width: 20%;
    min-height: 105px;
    font-size: 13px;
    line-height: 120%;
    vertical-align: middle;
    color: #000;
    border: 0;
}
.celda {
    /*display: table-cell;*/
    padding: 20px 10px 20px 80px;
    width: 20%;
    min-height: 105px;
    font-size: 12px;
    line-height: 120%;
    vertical-align: middle;
}

.c1 {
    background: #EEE url(filter.png) no-repeat 14px
        center;
}

.c2 {
    background: #DDD url(select.png) no-repeat 14px
        center;
}

.c3 {
    background: #CCC url(alert.png) no-repeat 14px
        center;
}

.c4 {
    background: #838282 url(click.png) no-repeat 14px
        center;
}

.floatL {
    float: left; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

#footer {
    background: #EEE;
}
